*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.loading {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    display: block;
    background-color: #fff;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.blur {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(#fff, .1); 
}

.opacity {
    opacity: .5;
}

.logo {
    position: relative;
    max-width: 477px;
    width: 100%;
    padding: 0 100px;

    @media (max-width: 577px) {
        max-width: 100%;
        padding: 0 27vw;
    }

    @media (max-width: 900px) {    
        @media (orientation: landscape) {
            max-width: 100%;
            padding: 0 35vw;
        }
    }

    &__img {
        display: block;
    }
}

.coming {
    color: #545454;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;

    @media (max-width: 577px) {
        font-size: 3vw;
    }

    @media (max-width: 1024px) {
        @media (orientation: landscape) {
            font-size: 2vw;
        }
    }
}
.copy {
    position: absolute;
    bottom: 20px;
    color: #545454;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;

    @media (max-width: 577px) {
        font-size: .6rem;
        bottom: 10px;
    }

    @media (max-width: 1024px) {
        @media (orientation: landscape) {
            display: none;
        }   
    }

}